{% extends "base.html" %}
{% load static %}

{% block title %}Tracker{% endblock %}

{% block css %}
  <link href="{% static 'css/tracker/tracker.css' %}" rel="stylesheet">
  {{ form.media }}
{% endblock css %}

{% block content %}
<form method="post" action="{% url 'tracker:list' %}">
  {% csrf_token %}
  <div class="form-row justify-content-center">{{ form.poly }}</div>
  <div class="form-row justify-content-center">
    <div class="col-auto">
      <button type="button" class="btn btn-secondary" onClick="geodjango_poly.clearFeatures()">Reset</button>
      <button type="submit" class="btn btn-primary">Query</button>
    </div>
  </div>
</form>
{% endblock %}
